.App {
  padding: 2em 3em 0;
  background: url("squares.png") no-repeat;
  background-position: 3em 9em;
  min-height: 80vh;
  font-family: 'Lato', sans-serif;
  position:relative;
}

header{
  margin:0 4em 2em;
  position:relative;
}

header h1{
  font-weight:normal;
}

header hr{
  background-color:#8ee3e3;
  border:none;
  height:2px;
}

header img{
  position:absolute;
  right:4em;
  bottom:-2.5em;
  height:6em;
  width:6em;
}

.Login{
  margin-top:10em;
}

.Login-button{
  display:block;
  text-align:center;
  margin:2em auto;
  width:15em;
  background-color: #fff;
  border:2px solid #8ee3e3;
  border-radius:1em;
  padding:1em 0;
  letter-spacing: 0.125em;
  word-spacing: .15em;
  font-size:1.1em;
  color:#444;
}

.Login-button:focus{
  outline:none;
}

.Film{
  width:100vw;
  height:100vh;
  position:absolute;
  left:0;
  top:0;
  background-color:rgba(40,40,40,0.5);
  z-index:2;
  display:none;
}

.Login-form{
  text-align:center;
  background-color: #fff;
  border:2px solid #18a0f8;
  border-radius:1em;
  width:50vw;
  margin:0 auto;
  padding:2em 0;
  z-index:4;
  position:absolute;
  top:15vh;
  left:25vw;
  display:none;
}

.Login-form h1{
  font-weight:600;
  word-spacing: .2em;
  letter-spacing: .05em;
  margin-bottom:2em;
}

.Login-form input{
  display:block;
  margin:0 auto 3em;
  border:2px solid #8ee3e3;
  border-radius:2em;
  padding:0.7em 1em;
}

.Login-form input:focus{
  outline:none;
}

.Login-form input[type="email"], .Login-form input[type="password"]{
  width:40em;
  height:1.5em;
}

.Login-form input[type="submit"]{
  width:8em;
  height:2.5em;
  font-size:1.1em;
  background-color:#fff;
}

.Error{
  background-color:red;
  display:none;
  width: 15em;
  margin-left:5em;
  padding:0.25em 0;
  font-size:0.75em;
  color: white;
  position: relative;
  top: -3em;
  border-radius: 0.6em;
}